* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.sect1 {
  width: 50vw;
  margin: auto;
  text-align: center;
}
.img1 {
  margin-bottom: 3vh;
}
.pargh1 h2 {
  margin-bottom: 3vh;
}
.pargh1 p {
  margin-bottom: 3vh;
  color: gray;
}

.btn1 button {
  padding: 10px;
  background-color: blueviolet;
  color: white;
  cursor: pointer;
  border-color: white;
  border-radius: 7px;
  font-weight: bolder;
}
.imgs1 {
  margin-top: 3vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 428px) {
  .sect1 {
    width: 100vw;
    margin: 0;
    text-align: center;
  }
  .imgs1 {
    margin-top: 3vh;
    flex-direction: column;
  }
}
