.navbar {
  width: 50vw;
  margin: auto;
  margin-bottom: 10vh;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.array {
  font-size: x-large;
  font-weight: bolder;
  color: blueviolet;
  cursor: pointer;
}
.links-btn {
  display: flex;
  align-items: center;
}
.links {
  margin-right: 20px;
}
.navbar a {
  text-decoration: none;
  color: black;
  margin-right: 5px;
}
.btn button {
  width: 6vw;
  padding: 7px;
  background-color: blueviolet;
  color: white;
  cursor: pointer;
  border-color: white;
  border-radius: 7px;
  font-weight: bolder;
}
.sect1 {
  width: 50vw;
  margin: auto;
  text-align: center;
}
.img1 {
  margin-bottom: 3vh;
}
.pargh1 h2 {
  margin-bottom: 3vh;
}
.pargh1 p {
  margin-bottom: 3vh;
  color: gray;
}

.btn1 button {
  padding: 10px;
  background-color: blueviolet;
  color: white;
  cursor: pointer;
  border-color: white;
  border-radius: 7px;
  font-weight: bolder;
  width: 15vw;
}
.imgs1 {
  margin-top: 3vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sect3 {
  padding: 50px;
  width: 50vw;
  margin: auto;
  text-align: center;
}
.sect3 p {
  color: gray;
  margin: 5vh 0vh;
}
.card-img1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5vh;
}
.card-pargh3 {
  width: 25vw;
  text-align: start;
}

@media (max-width: 428px) {
  .sect3 {
    padding: 0;
    width: 0;
    width: 100vw;
    text-align: center;
  }
  .sect3 img {
    width: 350px;
  }
  .sect3 p {
    color: gray;
    margin: 0px;
  }
  .card-img1 {
    flex-direction: column;
    margin-bottom: 5vh;
  }
  .card-pargh3 {
    width: 100vw;
    text-align: center;
  }
}
